/vendor/
composer.lock

/.phpunit.cache/
.phpunit.result.cache
/coverage/
/build/
/var/

.php-cs-fixer.cache
.phpstan.cache/

.env
.env.local
.env.*.local

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
desktop.ini